body {
background-color: #003834; /* Sayfa arka plan rengi */
color: #ffffff; /* Metin rengi */
}

.logo-container {
text-align: center; /* Logo ve metni ortalamak için */
padding: 20px; /* Logo etrafına boşluk bırakmak için */
}

.logo {
display: inline-block; /* Logo ve metni yan yana yerleştirmek için */
vertical-align: middle; /* Dikey hizalamayı sağlamak için */
}